{% raw %}
<html>

<head>
    <link rel="stylesheet" href="static/css/coreui.min.css">
    <link rel="stylesheet" href="static/css/all.min.css">
    <style>
    </style>
</head>

<body class="app sidebar-show">
    <header class="app-header navbar">
        RY
    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item" v-for="i in menu">
                        <router-link class="nav-link" :to="i.tipo">
                            <i :class="'nav-icon fa fa-'+i.icone"></i>{{ i.tipo }}
                        </router-link>
                    </li>
                </ul>
            </nav>
        </div>
        <main class="main">
            <router-view></router-view>
        </main>
        <aside class="aside-menu">
        </aside>
    </div>
    <footer class="app-footer">
    </footer>
    <template id="es">
        <div class="card">
            <div class="card-body" v-if="id">
                <h3 v-if="id=='novo'">Criando {{ meta.tipo }}</h3>
                <h3 v-else>Editando {{ meta.tipo }}:{{ id }}</h3>
                <form @submit="save">
                    <div class="form-group" v-for="c in meta.campos">
                        <label :for="c.i">{{ c.l || c.i }}</label>
                        <component v-bind:is="c.t" v-bind:name="c.i" v-bind:model="model[c.i]">
                    </div>
                    <div class="form-group">
                        <div class="btn-group" role="group" aria-label="">
                            <button type="button" class="btn btn-danger">Apagar</button>
                            <button type="button" class="btn btn-secondary">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="button" class="btn btn-success">Novo</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body" v-else>
                <h3>Lista {{ meta.tipo }}</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th v-for="c in meta.campos" v-if="c.t=='texto'">
                                {{ c.l || c.i }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="m in model">
                            <th>
                                <router-link :to="meta.tipo+'/'+m.id">
                                    <i class="nav-icon fa fa-edit"></i>
                                </router-link>
                            </th>
                            <td v-for="c in meta.campos" v-if="c.t=='texto'">
                                {{ m[c.i] }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </template>
    <template id="texto">
        <input :name="name" class="form-control" v-model="model" type="text" />
    </template>
    <template id="numero">
        <input :name="name" class="form-control" v-model="model" type="text" />
    </template>
    <template id="campos">
        <input v-for="m in model" :name="name" class="form-control" v-model="m" type="text" />
    </template>
    <script src="static/js/vue.js"></script>
    <script src="static/js/vue-router.js"></script>
    <script src="static/js/axios.min.js"></script>
    <script>
        Vue.component('texto', {
            props: ['name', 'model'],
            template: "#texto"
        })
        Vue.component('numero', {
            props: ['name', 'model'],
            template: "#numero"
        })
        Vue.component('campos', {
            props: ['name', 'model'],
            template: "#campos"
        })
        const Home = Vue.component('Home', { template: "<div>Home</div>" })
        const Entity = Vue.component('Entity', {
            template: '#es',
            props: {
                tipo: String,
                id: String,
            },
            data: () => {
                const meta = { tipo: "Carregando", campos: [{ i: 'field', l: "Field" }] };
                const model = {};
                return { meta, model };
            },
            watch: {
                tipo: {
                    immediate: true,
                    handler(n, o) {
                        var self = this;
                        fetch('tipo/' + this.tipo).then(r => { return r.json(); }).then(meta => { self.meta = meta; });
                        if (self.id) {
                            fetch(self.tipo + '/' + self.id).then(r => { return r.json(); }).then(j => { self.model = j.model; });
                        } else {
                            fetch(self.tipo).then(r => { return r.json(); }).then(j => { self.model = j.model; });
                        }
                    },
                },
                id: {
                    immediate: true,
                    handler(n, o) {
                        var self = this;
                        if (this.id) {
                            fetch(self.tipo + '/' + self.id).then(r => { return r.json(); }).then(j => { self.model = j.model; });
                        } else {
                            fetch(self.tipo).then(r => { return r.json(); }).then(j => { self.model = j.model; });
                        }
                    },
                },
            },
            methods: {                                
                save(e) {
                    e.preventDefault()
                    let self = this;
                    axios.post(self.tipo + '/' + self.id, self.model)
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            }
        })
        const routes = [
            { path: '/home', component: Home, icon: 'code', title: "Home" },
            { path: '/:tipo/:id?/:action?', component: Entity, props: true },
        ]
        const router = new VueRouter({ linkExactActiveClass: 'active', routes })
        new Vue({
            router,
            el: '.app-body',
            data() {
                var menu = [];
                fetch('/menu').then(r => { return r.json(); }).then(j => { menu.push(...j) });
                return { menu };
            }
        })
    </script>
</body>

</html>
{% endraw %}