{% raw %}
<html>

<head>
    <link rel="stylesheet" href="static/css/coreui.min.css">
    <link rel="stylesheet" href="static/css/all.min.css">
    <style>
    </style>
</head>

<body class="app sidebar-show">
    <header class="app-header navbar">
        RY
    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item" v-for="item in menu">
                        <router-link class="nav-link" :to="'/'+item.tipo">
                            <i :class="'nav-icon fa fa-'+item.icone"></i>{{ item.tipo }}
                        </router-link>
                    </li>
                </ul>
            </nav>
        </div>
        <main class="main">
            <router-view></router-view>
        </main>
        <aside class="aside-menu">
        </aside>
    </div>
    <footer class="app-footer">
        <div v-for="m in msgs" :class="'alert alert-dismissible fade show alert-'+m.t" role="alert">
            {{ m.m }}
        </div>
    </footer>
    <template id="es">
        <div class="card">
            <div class="card-body" v-if="id">
                <h3 v-if="id=='0'">Criando {{ meta.tipo }}</h3>
                <h3 v-else>Editando {{ meta.tipo }}:{{ id }}</h3>
                <form @submit="save">
                    <div class="form-group" v-for="c in meta.campos">
                        <label :for="c.i">{{ c.l || c.i }}</label>
                        <component v-bind:is="c.t" v-model="model[c.i]">
                    </div>
                    <div class="form-group">
                        <div class="btn-group" role="group" aria-label="">
                            <button v-if="id!='0'" type="button" class="btn btn-danger" @click="del">
                                <i class="nav-icon fa fa-trash"></i> Apagar
                            </button>
                            <router-link class="btn btn-secondary" :to="'/'+meta.tipo">
                                <i class="nav-icon fa fa-list"></i> Lista
                            </router-link>
                            <button type="submit" class="btn btn-primary">
                                <i class="nav-icon fa fa-save"></i> {{ (id=='0')?'Criar':'Salvar' }}
                            </button>
                            <router-link v-if="id!='0'" class="btn btn-success" :to="'/'+meta.tipo+'/0'">
                                <i class="nav-icon fa fa-plus"></i> Outro {{ meta.tipo }}
                            </router-link>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body" v-else>
                <h3>Lista {{ meta.tipo }}</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th v-for="c in meta.campos" v-if="c.t=='texto'">
                                {{ c.l || c.i }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="m in model">
                            <th>
                                <router-link :to="'/'+meta.tipo+'/'+m.id">
                                    <i class="nav-icon fa fa-edit"></i>
                                </router-link>
                            </th>
                            <td v-for="c in meta.campos" v-if="c.t=='texto'">
                                {{ m[c.i] }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <router-link class="btn btn-success" :to="'/'+meta.tipo+'/0'">
                    <i class="nav-icon fa fa-plus"></i> Novo {{ meta.tipo }}
                </router-link>
            </div>
        </div>
    </template>
    <template id="texto">
        <input class="form-control" :value="value" @change="$emit('input', $event.target.value)" />
    </template>
    <template id="numero">
        <input class="form-control" :value.number="value" type="number" @change="$emit('input', $event.target.value)" />
    </template>
    <template id="relacao">
        <input class="form-control" :value.number="value" type="number" @change="$emit('input', $event.target.value)" />
    </template>
    <template id="campos">
        <div>
            <span class="input-group" v-for="m in value">
                <input class="form-control" :value="m.i" @change="m.i=$event.target.value;$emit('input', value)" />
                <select class="form-control" :value="m.t" @change="m.t=$event.target.value;$emit('input', value)">
                    <option v-for="o in O">{{ o }}</option>
                </select>
                <input type="tags" class="form-control" :value="m.d" @change="m.d=$event.target.value;$emit('input', value)" />
                <div class="input-group-append">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Listar
                        </label>
                    </div>
                    <button type="button" class="btn btn-danger form-control" @click="del(m);">
                        <i class="nav-icon fa fa-minus"></i> Remover
                    </button>
                </div>
            </span>
            <span class="input-group">
                <input class="form-control" v-model="N.i" />
                <select class="form-control" v-model="N.t">
                    <option v-for="o in O">{{ o }}</option>
                </select>
                <input class="form-control" v-model="N.d" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-success form-control" @click="add">
                        <i class="nav-icon fa fa-plus"></i> Adicionar
                    </button>
                </div>
            </span>
        </div>
    </template>
    <script src="static/js/vue.js"></script>
    <script src="static/js/vue-router.js"></script>
    <script src="static/js/axios.min.js"></script>
    <script src="static/js/socket.io.js"></script>
    <script>
        Vue.use(VueRouter);
        Vue.component('texto', { props: ['value'], template: "#texto" })
        Vue.component('numero', { props: ['value'], template: "#numero" })
        Vue.component('relacao', { props: ['value'], template: "#relacao" })
        Vue.component('campos', {
            props: ['value'],
            template: "#campos",
            data: () => {
                const O = ['texto', 'numero', 'campos', 'codigo', 'relacao'];
                const N = { i: '', t: 'texto', d: '' }
                return { N, O };
            },
            methods: {
                add(e) {
                    if (this.N.i) {
                        this.value.push(Object.assign({}, this.N));
                        this.$emit('input', this.value);
                    }
                    this.N.i = '';
                },
                del(i) {
                    this.value.splice(this.value.indexOf(i), 1);
                    this.$emit('input', this.value);
                }
            }
        })
        const Entity = Vue.component('Entity', {
            template: '#es',
            props: {
                tipo: String,
                id: String,
                action: String,
            },
            data: () => {
                const status = {};
                const meta = {};
                const model = {};
                return { meta, model, status };
            },
            watch: {
                tipo: {
                    immediate: true,
                    handler(n, o) {
                        let self = this;
                        axios.get('tipo/' + self.tipo)
                            .then(function (r) {
                                self.meta = r.data.model;
                            })
                            .catch(function (error) {
                                self.$root.error(error);
                            });
                        self.fetch();
                    },
                },
                id: {
                    immediate: true,
                    handler(n, o) {
                        this.fetch();
                    },
                },
            },
            methods: {
                fetch() {
                    let self = this;
                    let url = self.tipo;
                    if (self.id) {
                        url += '/' + self.id;
                    }
                    axios.get(url)
                        .then(function (r) {
                            self.model = r.data.model;
                            window.model = self.model;
                        })
                        .catch(function (error) {
                            self.$root.error(error);
                        });
                },
                del(e) {
                    e.preventDefault()
                    let self = this;
                    axios.delete(self.tipo + '/' + self.id)
                        .then(function (r) {
                            self.$router.push('/' + self.tipo);
                        })
                        .catch(function (error) {
                            self.$root.error(error);
                        });
                },
                save(e) {
                    e.preventDefault()
                    let self = this;
                    axios.post(self.tipo, { model: self.model })
                        .then(function (r) {
                            self.model = r.data.model;
                            if (self.id == 0) {
                                self.$router.push('/' + self.tipo + '/' + self.model.id);
                            } else {
                                self.status.success = self.tipo + ':' + self.id + ' alterado';
                            }
                        })
                        .catch(function (error) {
                            self.$root.error(error);
                        });
                }
            }
        })
        const routes = [{ path: '/:tipo/:id?/:action?', component: Entity, props: true }]
        const router = new VueRouter({ linkExactActiveClass: 'active', routes })
        new Vue({
            router,
            el: '.app-body',
            data() {
                let menu = [];
                let msgs = [];
                return { menu, msgs };
            },
            created: function () {
                let self = this;
                let c = io();
                c.on('menu', menu => {
                    self.menu = menu;
                });
            },
            methods: {
                error(e) {
                    this.msgs.push({ t: 'error', m: e });
                },
                success(e) {
                    this.msgs.push({ t: 'success', m: e });
                }
            }

        })
    </script>
</body>

</html>
{% endraw %}